* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    cursor: url('./cursor/laço.png'), auto;  
  }
  // --------------------------------------- Header ---------------------------------------------------------
  header {
    background-color: #FF69B4; 
    height: 16vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    h1 {
      font-size: 1.7rem;
      font-weight: 500;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 60vw;
    }
    a{
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
      &:hover {
        color: #fd0682;
      }
    }   
  }

  .boxheader {
    display: flex;
    align-items: center;
    img {
      width: 5vw;
    }
  }
 
  // --------------------------------------- Main ---------------------------------------------------------
  .prevenção {
    background-color: #ffd9ec;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
    p {
      display: flex;
      align-items: center;
      width: 46vw;
      height: 28vh;
      font-size: 1.6rem;
      font-weight: 380;
    }
}

  .conscientização {
    background-color: #ff69b4;
    height: 41vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    p {
      color: white;
      width: 33.8vw;
      font-size: 1.4rem;
      font-weight: 380;
    } 
  }

  .recomendações {
    background-color: #ffd9ec;
    height: 67vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  // --------------------------------------- Footer ---------------------------------------------------------
  footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ff69b4;
    height: 22vh;
  }

  .ícones {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15vw;
  }
  
  .texto {
    width: 50vw;
    padding-right: 150px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }